<div class="table-responsive-sm">
  <table class="table table-sm table-striped">
        <thead class="table-info">
          <tr>
            <th scope="col" colspan="2">System</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">Process</th>
          <td>Moving Boat</td>
        </tr>
        <tr>
          <th scope="row">Step</th>
          <td>In Transect</td>
        </tr>
        <tr>
          <th scope="row">Sample</th>
          <td id="adcpEnsNumSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Time</th>
          <td id="ensTimeSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Duration</th>
          <td id="transectDurationSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Voltage</th>
          <td id="voltageSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Temperature (C)</th>
          <td id="waterTempSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Heading (deg)</th>
          <td id="headingSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Pitch (deg)</th>
          <td id="pitchSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Roll (deg)</th>
          <td id="rollSysTabularLabel"></td>
        </tr>
      </tbody>
    </table>
  <table class="table table-sm table-striped">
        <thead class="table-info">
          <tr>
            <th scope="col" colspan="2">Settings</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">Track Reference</th>
          <td>GPS-GGA</td>
        </tr>
        <tr>
          <th scope="row">Depth Reference</th>
          <td>Vertical Beam</td>
        </tr>
        <tr>
          <th scope="row">Coordinate System</th>
          <td id="coordSystemNumSysTabularLabel">ENU</td>
        </tr>
      </tbody>
  </table>
  <table class="table table-sm table-striped">
        <thead class="table-info">
          <tr>
            <th scope="col" colspan="2">Summary</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">Total Q (m3/s)</th>
          <td id="totalQTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Boat Speed (m/s)</th>
          <td id="boatSpeedTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Mean Speed (m/s)</th>
          <td id="meanSpeedSysTabularLabel"></td>
        </tr>
      <tr>
          <th scope="row">Track (m)</th>
          <td id="trackTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">DMG (m)</th>
          <td id="dmgTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">Depth (m)</th>
          <td id="depthSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row"># Cells</th>
          <td id="numCellsSysTabularLabel"></td>
        </tr>
      </tbody>
  </table>
  <table class="table table-sm table-striped">
        <thead class="table-info">
          <tr>
            <th scope="col" colspan="2">Bottom Track</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">VB Depth (m)</th>
          <td id="vbDepthSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">BT Depth (m)</th>
          <td id="btDepthSysTabularLabel"></td>
        </tr>
      </tbody>
  </table>
  <table class="table table-sm table-striped">
        <thead class="table-info">
          <tr>
            <th scope="col" colspan="2">GPS</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">Satellites</th>
          <td id="numSatsSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">GPS Quality</th>
          <td id="gpsQualitySysTabularLabel"></td>
        </tr>
      <tr>
          <th scope="row">GC-BC</th>
          <td id="gpsGcBcSysTabularLabel"></td>
        </tr>
        <tr>
          <th scope="row">D(BT)/D(GPS)</th>
          <td id="btVsGpsSysTabularLabel"></td>
        </tr>
      </tbody>
  </table>
</div>
