{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-auto">
        {% include 'term_setup.html' %}
    </div>

    <div class="col">
        <!--p id="serialTxt" class="text-break"></p-->
        <textarea class="form-control" id="txtSerialOutput" rows="20">{{ state.serial_raw_ascii }}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-md">
        <button id="btnSerialBreak" class="btn btn-sm btn-secondary">BREAK</button>
        <button id="btnSerialCshow" class="btn btn-sm btn-secondary">CSHOW</button>
    </div>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col-md">
          <form>
            <div class="input-group mb-3">
              <input id="inputSerialCmd" name="inputSerialCmd" type="text" class="form-control" placeholder="ADCP Command" aria-label="ADCP Command" aria-describedby="button-adcp-cmd">
              <div class="input-group-append">
                <input id="btnSerialSendCmd" name="btnSerialSendCmd" type="submit" value="SEND" class="btn btn-outline-secondary">
              </div>
            </div>
            <div id="successCmdAlert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="errorCmdAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
          </form>
      </div>
  </div>
  <div class="row">
      <div class="col">
              <label for="cmdFileInput">Example file input</label>
              <input type="file" class="form-control-file" id="cmdFileInput">
              <button  class="btn btn-outline-secondary" type="button">SEND CMD FILE</button>
      </div>
  </div>
</div>

{% endblock %}