<form>
    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="selectComm">Comm Port</label>
            <div class="form-row">
                <select id="selectComm" name="selectComm">
                    {% for port in state.serial_port_list %}
                        <option value="{{ port }}" {{ 'selected' if state.selected_serial_port==port }}>{{ port }}</option>
                    {% endfor %}
                </select>
                <input type="submit" id="btnScan" value="scan" class="btn btn-warning btn-sm"/>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="selectBaud">Baud Rate</label>
            <select id="selectBaud" name="selectBaud">
                {% for baud in state.baud_list %}
                    <option value="{{ baud }}" {{ 'selected' if state.selected_baud==baud }}>{{ baud }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="submit" id="btnConnect" value="Connect" class="btn btn-sm btn-info" {% if state.is_serial_connected %}disabled{%endif%} />
            <input type="submit" id="btnDisconnect" value="Disconnect" class="btn btn-sm btn-info"/>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div id="successSerialAlert" class="alert alert-success" role="alert" style="display:none;"></div>
        </div>
        <div class="col">
            <div id="errorSerialAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;"></div>
        </div>
    </div>
</form>